@import "./styles/variables";

.header {
  width: 100%;
  height: 140px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position: relative;
}

.headerContent {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  width: 10%;
  height: 100%;
  display: flex;

  & > a {
    height: 100%;
  }
}

.headerRight {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: flex-end;
}


.headerInfos {
  display: flex;
  gap: 40px;
}

.seperator {
  width: 1px;
  height: 50px;
  background-color: $asteriskColor;
}

.headerInfo {
  //width: 200px;
  height: 100%;
  border: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.headerButtons {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.headerButton {
  width: 160px;
  height: 55px;
  border: 2px solid $asteriskColor;
  background-color: white;
  display: flex;
  border-radius: 14px;

  & > a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}

.headerNav {
  width: 80%;
  height: 100px;
  background-color: $asteriskColor;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
}

.headerNavigation {
  width: 70%;
  height: 100%;
  border: 1px solid black;
  padding: 0 5%;

  & > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }

    span {
      color: white;
      user-select: none;
    }
  }
}

.headerNavigationLeft {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: flex;
}


.headerLinks{
  width: 75%;
  height: 100%;
  border: 1px solid black;
}

.headerSearch{
  width: 25%;
  height: 100%;
  border: 1px solid black;
}