@import "./styles/variables";

$headerHeight: 140px;

.header {
  width: 100%;
  height: $headerHeight;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position: relative;
  z-index: 99999;
}

.headerContent {
  width: 100%;
  height: 100px;
  display: flex;
  border: inherit;
  justify-content: space-between;
}

.headerLeft {
  width: 10%;
  height: 100%;
  display: flex;
  border: inherit;

  & > a {
    height: 100%;
  }
}

.headerRight {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: flex-end;
  border: inherit;
}


.headerInfos {
  display: flex;
  gap: 40px;
  border: inherit;
}

.seperator {
  width: 1px;
  height: 60px;
  background-color: $asteriskColor;
}

.headerInfo {
  //width: 200px;
  height: 100%;
  border: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.headerButtons {
  width: auto;
  height: 100%;
  display: flex;
  border: inherit;
  align-items: center;
}

.headerButton {
  width: 160px;
  height: 55px;
  border: 2px solid $asteriskColor;
  background-color: white;
  display: flex;
  border-radius: 14px;
  transition: .5s;

  & > a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    color: #000000;
  }

  &:hover{
    background-color: $asteriskColor;
  }

  &:hover > a{
    color: #fff;
  }
}

.headerNav {
  width: 80%;
  height: 90px;
  background-color: $asteriskColor;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
  transition: 0.5s;
  //border: 1px solid black;
}

.headerNavigation {
  width: 70%;
  height: 100%;
  padding: 0 2%;
  border: inherit;

  & > ul {
    width: 100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    padding-left: 3%;


    & > li {
      position: relative;

      @keyframes liAnim {
        0% {
          width: 0;
          height: 2px;
        }
        50% {
          width: 50%;
          height: 2px;
        }
        100% {
          width: 50%;
          height: 100%;
        }
      }

      @mixin beforeAfter($side) {
        content: "";
        position: absolute;
        bottom: -2px;
        @if ($side == "left") {
          left: 0;
        } @else if ($side == "right") {
          right: 0;
        }
        width: 0;
        height: 2px;
        background-color: white;
        transition: 0.2s;
        z-index: 1;
      }

      &::before {
        @include beforeAfter("left")
      }

      &:hover::before {
        width: 50%;
      }

      &::after {
        @include beforeAfter("right")
      }

      &:hover::after {
        width: 50%;
      }
    }


    a {
      color: white;
      text-decoration: none;
      font-size: 17px;
      transition: .5s;
      text-transform: uppercase;
      white-space: nowrap;
    }

    span {
      color: $greyText;
      user-select: none;
    }
  }
}

.headerNavigationLeft {
  width: 40%;
  height: 100%;
  display: flex;

}


//.headerLinks{
//  width: 75%;
//  height: 100%;
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//  gap: 23px;
//  padding-right: 70px;
//  overflow: hidden;
//  transition: .5s;
//
//  & > img{
//    cursor: pointer;
//
//  }
//}

.out{
  width: 0 !important;
  opacity: 0 !important;
}


.headerSearch{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

 .img{
    cursor: pointer;
  }
}

.searchOpenBox{
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: .5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & > input{
    width: 100%;
    height: 70%;
    border: none;
    border-bottom: 2px solid $asteriskColor;
    outline: none;
  }
}

.searchOpenBox.open{
  width: 75%;
  padding: 0 15px;

}

//.searchOpenWrapper{
//  width: 150px;
//  height: 100px;
//  background-color: #fff;
//  position: absolute;
//}

.swiperik{
  width: 100%;
  height: 100%;
  background-color: aqua;
}

@media screen and (max-width: 1550px) {
  .menuSpan{
    display: none;
  }

  .headerNavigation > ul{
    gap: 20px;
    padding-left: 2%;
  }


  .headerLinks{
    padding-right: 20px;
  }
}

.burgerMenuWrapper{
  display: none;
}

.burgerOpenWrapper{
  display: none;
}

@media screen and (max-width: 1336px){
  .header{
    padding: 0 2%;
  }

  .headerNav{
    width: 96%;
  }
}

@media screen and (max-width: 1100px){
  .headerNavigation > ul{
    display: none;
  }

  .burgerMenuWrapper{
    display: flex;
    width: 100px;
    height: 100%;
    //border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .headerNavigation{
    width: 60%;
    padding: 0;

  }

  .line{
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: 0.4s;

  }
  .lineTop{
    transform: translateY(-10px);
  }
  .lineBottom{
    transform: translateY(10px);
  }

  .lineTop.open {
    transform: translateY(0) rotate(45deg);
  }

  .lineCenter.open {
    width: 0;
    transition: 0.1s;
  }

  .lineBottom.open {
    transform: translateY(0) rotate(-45deg);
  }

  .burgerOpenWrapper{
    display: block;
    width: 100%;
    height: 0px;
    background-color: #fff;
    position: absolute;
    top: 90px;
    transition: 0.5s;
    visibility: hidden;
  }

  .burgerOpenWrapper.open {
    height: 250px;
    visibility: visible;
  }

  .burgerOpenWrapperContent {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding: 20px;

    & > nav{
      width: 100%;
      height: 100%;

      & > ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        & > li{
          width: 100%;
          height: 30px;

          & > a{
            color: #000;
            text-decoration: none;
          }


        }
      }
    }
  }

  .burgerOpenWrapperContent.open {
    opacity: 1;
    visibility: visible;
  }

  .headerSearch{
    width: 30%;
  }

  .headerLinks{
    width: 80%;
    opacity: 1;
    transition: 0.5s;
  }


}

@media screen and (max-width: 950px){
  .headerInfos{
    display: none;
  }
  //
  //.headerButtons {
  //  display: none;
  //}
  
  //.headerNav {
  //  position: static;
  //  width: 100%;
  //  transform: initial;
  //}
  //
  //.headerLeft {
  //  width: 150px;
  //}
  //
  //.headerContent {
  //  display: none;
  //}
}

@media screen and (max-width: 780px){
  .headerNavigation{
    width: 20%;
    padding: 0;

  }
  .headerNavigationLeft{
    width: 80%;
  }

  .headerNav{
    width: 100%;
  }

}


@media screen and (max-width: 450px){
  .headerNavigation{
    width: 30%;
    padding: 0;
  }
  .headerNavigationLeft{
    width: 70%;
    padding-left: 10px;

    & > ul{
      padding-right: 8px;
    }
  }

  .headerNav{
    width: 100%;
  }

}

.headerNavAlternate {
  top: 0;
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  animation: 0.5s headerAlternateAnimation 0s forwards;


  @keyframes headerAlternateAnimation {
    from {
      top: -100px;
      visibility: hidden;
      opacity: 0;
    }
    to {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}