@import "./styles/variables";

.header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position: relative;
  //border: 1px solid red;
}

.headerContent {
  width: 100%;
  height: 100px;
  display: flex;
  border: inherit;
  justify-content: space-between;
}

.headerLeft {
  width: 10%;
  height: 100%;
  display: flex;
  border: inherit;

  & > a {
    height: 100%;
  }
}

.headerRight {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: flex-end;
  border: inherit;
}


.headerInfos {
  display: flex;
  gap: 40px;
  border: inherit;
}

.seperator {
  width: 1px;
  height: 60px;
  background-color: $asteriskColor;
}

.headerInfo {
  //width: 200px;
  height: 100%;
  border: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.headerButtons {
  width: auto;
  height: 100%;
  display: flex;
  border: inherit;
  align-items: center;
}

.headerButton {
  width: 160px;
  height: 55px;
  border: 2px solid $asteriskColor;
  background-color: white;
  display: flex;
  border-radius: 14px;
  transition: .5s;

  & > a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    color: #000000;
  }

  &:hover{
    background-color: $asteriskColor;
  }

  &:hover > a{
    color: #fff;
  }
}

.headerNav {
  width: 80%;
  height: 90px;
  background-color: $asteriskColor;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
}

.headerNavigation {
  width: 70%;
  height: 100%;
  padding: 0 2%;

  & > ul {
    width: 100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  padding-left: 3%;
    a {
      color: $greyText;
      text-decoration: none;
      font-size: 17px;
      transition: .5s;
      text-transform: uppercase;
      white-space: nowrap;

      &:hover{
        color: #fff;
      }

    }

    span {
      color: $greyText;
      user-select: none;
    }
  }
}

.headerNavigationLeft {
  width: 30%;
  height: 100%;
  display: flex;
}


.headerLinks{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
  padding-right: 70px;

  & > img{
    cursor: pointer;

  }
}


.headerSearch{
  width: 25%;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img{
    cursor: pointer;
  }
}

.swiperik{
  width: 100%;
  height: 100%;
  background-color: aqua;
}