.headerLinks{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
  padding-right: 70px;
  overflow: hidden;
  transition: .5s;
  list-style-type: none;

  & > img{
    cursor: pointer;
  }
}

.icon{
  fill: #fff
}

@media screen and (max-width: 1100px){
  .headerLinks{
    display: none;
  }
}