.main {
  width: 400px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 70px;
  padding: 2%;
  background: #D33834;

  @media screen and (max-width: 1458px){
    width: 450px;
  }

  @media screen and (max-width: 1200px){
    width: 350px;
  }

  @media screen and (max-width: 785px){
    width: 500px;
  }

  & > h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;
  }

  & > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.47999998927116394px;
    color: #DBDBDB;
    text-align: center;
  }
}

.readMore {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.47999998927116394px;
  color: white;
  text-decoration: none;
}