.main {
  width: 400px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 70px;
  padding: 2%;
  background: #D33834;

  @media screen and (max-width: 1458px){
    width: 450px;
  }

  @media screen and (max-width: 1200px){
    width: 400px;
  }

  @media screen and (max-width: 1024px){
    width: 98%;
  }


  & > h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;

    @media screen and (max-width: 785px){
      font-size: 28px;
      text-align: center;
    }

    @media screen and (max-width: 380px){
      font-size: 21px;
      text-align: center;
    }
  }

  & > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.47999998927116394px;
    color: #DBDBDB;
    text-align: center;
  }
}

.readMore {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.47999998927116394px;
  color: white;
  text-decoration: none;
}