@import "/styles/variables";

.main{
  cursor: pointer;
  width: 400px;
  height: 250px;
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.36);
  transition: .3s;

  & > h2{
    color: #020248;
  }

  &:hover > h2{
    color: #fff;
  }

  & > p{
    font-size: 18px;
    color: #6c6c6c;
    transition: .3s;
  }

  &:hover{
    transform: scale(0.95) translate(3%, -3%);
    background-color: $asteriskColor;
  }

  &:hover > p{
    color: #fff;
  }

  @media screen and (max-width: 850px){
    width: 90%;
  }

  @media screen and (max-width: 420px){
    height: 350px;
  }
}



.readMore{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: .3s;
  font-size: 18px;
}

.main:hover .readMore{
  color: #fff;
  font-weight: 500;
}

.arr{
  fill: #000000;
  transition: .3s;
}

.main:hover .arr{
  fill: #fff;
  margin-left: 55%;

  @media screen and (max-width: 850px){
    margin-left: 75%;
  }

  @media screen and (max-width: 720px){
    margin-left: 70%;
  }

  @media screen and (max-width: 600px){
    margin-left: 65%;
  }

  @media screen and (max-width: 520px){
    margin-left: 55%;
  }

  @media screen and (max-width: 400px){
    margin-left: 40%;
  }
}