@import "../../styles/variables";


.footer {
  width: 100%;
  height: 550px;
  @media screen and (max-width: 1500px) {
    height: auto;
  }
  background-color: #000000;
  border-top: 10px solid $asteriskColor;
  padding: 5%;
  overflow: hidden;
}

.footerContent {
  width: 100%;
  height: 100%;
  display: flex;

  @media screen and (max-width: 1500px) {
    flex-wrap: wrap;
    gap: 100px;

    @media screen and (max-width: 700px) {
      gap: 50px;
    }
  }
}

.footerContentCol {
  flex-grow: 1;
  height: 100%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 !important;
  li {
    color: #FFFFFFAB;
    font-size: 19px !important;
    font-weight: 400;
    list-style-type: none;
  }
}

.footerContentTitle {
  color: white !important;
  font-size: 24px !important;
  list-style-type: none;
  font-weight: 700 !important;
}

.footerContentCol {
  list-style-type: none;
   ul {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 1500px) {
      align-items: center;
    }

  }
  li > a {
    color: #FFFFFFCF;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #9d9d9d;
    }
  }
}

.headerMenu{
  color: #FFFFFFAB;
  font-size: 19px !important;
  font-weight: 400;
  text-decoration: none;
}

.footerContentSearch {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media screen and (max-width: 1500px) {
    align-items: center;
  }

}

.footerContentSearchWrapper {
  width: 100%;
  max-width: 800px;
  padding: 0 5%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContentSearchInput {
  width: 100%;
  height: 70px;
  @media screen and (max-width: 1500px) {
    height: 50px;
  }
  background-color: #EEEEEE;
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  & > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 5%;
    background-color: transparent;
    font-size: 16px;

    &::placeholder {
      color: #00000094;
      font-size: 16px;
      font-weight: 400;
    }
  }

  & > button {
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
}

.footerContentMedia {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 !important;

  & > li {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    & > a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > img {
      filter: invert(100%);
    }
  }
}

