@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  //list-style-type: none;
  @supports (-webkit-touch-callout: none) {
    background-attachment: initial !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $asteriskColor;
  border-radius: 30px;
}

input,select {
  border-radius: 0;
}

input[type="search"],select {
  -webkit-appearance: none;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darken($asteriskColor, 1%);
}

textarea {
  border-radius: 0;
}