@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  //list-style-type: none;
  @supports (-webkit-touch-callout: none) {
    background-attachment: initial !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $asteriskColor;
  border-radius: 30px;
}

input,select {
  border-radius: 0;
}

input[type="search"],select {
  -webkit-appearance: none;
}