@import "./variables";

@mixin inputBorder() {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0000008C;
}

.hero {
  width: 100%;
  height: calc(100vh - 140px);
  @media screen and (max-width: 1024px) {
    @media screen and (orientation: landscape) {
      height: 500px;
    }
  }
  display: flex;
  position: relative;
  justify-content: space-between;
}

.heroContent {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10%;
  gap: 5%;

  @media screen and (max-width: 1680px) {
    padding: 0 2%;
  }

  @media screen and (max-width: 1000px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  
  @media screen and (max-width: 650px) {
    width: 100%;
  }

  & > h1 {
    color: black;
    font-size: 55px;
    font-weight: 500;

    @media screen and (max-width: 1100px) {
      font-size: 40px;
    }

    @media screen and (max-width: 1000px) {
      color: white;
    }
  }

  & > p {
    color: #000000AB;
    text-shadow: 0px 4px 4px 0px #00000040;
    font-size: 26px;
    font-weight: 400;
    @media screen and (max-width: 1000px) {
      color: white;
    }

  }
}

.heroRight {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}


.heroRightBackground{
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
  background-image: url($serviceHero1);
  max-width: 1500px;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  @media screen and (max-width: 1500px) {
    background-size: cover;
  }

  @media screen and (max-width: 1000px) {
    width: 100%;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.services {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.servicesNavWrapper{
  width: 70%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);

}

.servicesNav{
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  display: flex;
}

.servicesNavInput{
  width: 50%;
  height: 100%;
  //border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  & > input{
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding-left: 30px;
  }

}

.servicesNavMenu{
  width: 50%;
  height: 100%;

  & > nav{
    width: 100%;
    height: 100%;

    & > ul{
      width: 100%;
      height: 100%;
      display: flex;
      list-style-type: none;
      align-items: center;
      gap: 35px;

      & > li{
        height: 100%;
        color: #6C6C6C;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 1s;
        flex-direction: column;
        overflow: hidden;

        &:hover{
          color: black;
        }

        .line{
          width: 100%;
          height: 4px;
          background-color: $asteriskColor;
          position: relative;
          top: 50px;
          transition: .2s;
        }

        &:hover .line{
          top: 33px;
        }
      }
    }
  }
}

.serviceContent{
  width: 100%;
  height: auto;
  //border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
  overflow: auto;
}

//
//.serviceSlider {
//  width: 30%;
//  height: 80%;
//  padding-left: 5%;
//}
//
//.slide {
//  width: 500px !important;
//  height: 400px !important;
//  color: black;
//  margin-top: 100px;
//
//  @media screen and (max-width: 600px){
//    width: 95% !important;
//  }
//}



.serviceContact {
  width: 100%;
  height: 900px;
  display: flex;
  //border: 1px solid red;
  flex-direction: row;

  @media screen and (max-width: 800px) {
    height: 1000px;
  }
}

.contactLeft {
  width: 40%;
  height: 100%;
  background-image: url($serviceContact1);
  background-size: 80%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  //border: 1px solid red;

  @media screen and (max-width: 1650px) {
    background-position: center;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.contactRight {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid red;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.contactContent {
  width: 50%;
  background-color: #F4F4F4;
  border-radius: 15px;
  box-shadow: 7px 12px 7px 3px #0000004F;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  @media screen and (max-width: 1400px) {
    width: 80%;
  }

  @media screen and (max-width: 800px) {
    width: 90%;
  }

  & > h2 {
    color: black;
    font-size: 34px;
    font-weight: 500;
  }
}

.contactForm {
  width: 100%;
  height: 100%;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;

  & > input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    @include inputBorder();
    font-size: 16px;
    font-weight: 400;
    color: #000000B5;
    outline: none;
    padding-left: 2%;
  }
}

.horizontalClass {
  width: 10px !important;
  height: 10px !important;
  background-color: #D9D9D9 !important;
  opacity: 1 !important;
  margin: 0 8px !important;
  cursor: pointer !important;
}

.otherBulletsWrapper {
  bottom: 5% !important;
}

.activeBulletClass {
  background-color: red !important;
}


.contactFormMain {
  width: 100%;
  display: grid;
  gap: 50px;
  padding: 2% 0;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 800px) {
    grid-template-columns: none;
  }

  & > input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    @include inputBorder();
    font-size: 16px;
    font-weight: 400;
    color: #000000B5;
    outline: none;
    padding-left: 2%;
  }
}

.formComment {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > label {
    color: #000000B5;
    font-size: 16px;
    font-weight: 400;
  }

  & > textarea {
    width: 100%;
    height: 50px;
    max-height: 100px;
    @include inputBorder();
    resize: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    padding: 1%;
    font-weight: 400;
    line-height: 19px;

  }
}

.sendButton {
  width: 200px;
  height: 50px;
  background-color: #D33834;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
}