@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf");
}

@mixin inputBorder() {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0000008C;
}

$asteriskColor: #D33834;
$greyText: #cbcbcb;
$greyInfo: #D0D0D0;

//$heroimage1: "/images/herosliderimage1.webp";
$heroimage2: "/images/herosliderimage1.webp";
$heroimage3: "/images/herosliderimage2.webp";

$calcarecard1: "/images/calcarecard1.webp";
$calcarecard2: "/images/calcarecard2.webp";
$calcarecard3: "/images/calcarecard3.webp";
$calcarecard4: "/images/calcarecard4.webp";
$calcarecard5: "/images/calcarecard1.webp";
$calcarecard6: "/images/calcarecard2.webp";
$calcarecard7: "/images/calcarecard3.webp";
$calcarecard8: "/images/calcarecard4.webp";
$calcarecard9: "/images/calcarecard1.webp";

$believeImage: "/images/bgBelieve1.webp";
$adminPanel: "/images/adminPanel.svg";
$adminPanelNout: "/images/adminPanelNout.svg";
$mobileApp: "/images/mobileApp.svg";

$formImg: "/images/formImg.webp";
$aboutMain: "/images/aboutMainImg.webp";


$serviceHero1: "/images/serviceHero1.webp";
$serviceContact1: "/images/serviceContact.webp";

$selectArrowDown: "/images/selectArrowDown.svg";