@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf");
}

$asteriskColor: #D33834;
$greyText: #cbcbcb;
$greyInfo: #D0D0D0;

$heroimage1: "/images/herosliderimage1.jpg";
$heroimage2: "/images/herosliderimage2.jpg";
$heroimage3: "/images/herosliderimage3.jpg";

$calcarecard1: "/images/calcarecard1.png";
$calcarecard2: "/images/calcarecard2.png";
$calcarecard3: "/images/calcarecard3.png";
$calcarecard4: "/images/calcarecard4.png";
$calcarecard5: "/images/calcarecard1.png";
$calcarecard6: "/images/calcarecard2.png";
$calcarecard7: "/images/calcarecard3.png";
$calcarecard8: "/images/calcarecard4.png";
$calcarecard9: "/images/calcarecard1.png";

$believeImage: "/images/bgBelieve1.jpg";
$adminPanel: "/images/adminPanel.svg";
$adminPanelNout: "/images/adminPanelNout.svg";
$mobileApp: "/images/mobileApp.svg";

$formImg: "/images/formImg.jpg";