.offerService{
  width: 570px;
  height: 180px;
  //border: 1px solid red;
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: .5s;
  @media screen and (max-width: 1400px) {
    width: 600px;
    height: 230px;
  }

  @media screen and (max-width: 720px) {
    width: 600px;
    height: 200px;
  }

  .serviceImg{
    width: 38%;
    height: 100%;
    border: inherit;

  }

  .serviceInfo{
    width: 62%;
    height: 100%;
    border: inherit;
  }

  &:hover{
    transform: scale(1.05);
  }

}

.imgSize{
  width: 100%;
  height: 100%;
}

.serviceTitle{
  width: 100%;
  height: 70%;
  border: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 10px;
}

.serviceReadMore{
  width: 100%;
  height: 30%;
  border: inherit;
  & > a {
    text-decoration: none;
  }

  & > a > button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
  }
}